{% extends 'articles/base.html' %}

{% block body %}
    <h2 class='text-center'>DETAIL</h2> <br>
    <hr>
    {% include 'articles/_follow.html' %}
    <hr>
    <p>글 번호 : {{ article.pk }} </p>
    <p>글 제목 : {{ article.title }} </p>
    <p>글 내용 : {{ article.content }} </p>
    <p>글 생성시간 : {{ article.created_at|date:"SHORT_DATE_FORMAT" }} </p>
    <p>글 수정시간 : {{ article.updated_at }} </p>

    <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <a href="{% url 'articles:index' %}">[메인 페이지]</a>
        {% if article.user_id == request.user.pk %}
            <input type="submit" value="글 삭제" class='btn btn-primary'>
        {% endif %}
    </form><br>

    <p><b>댓글 ({{ comments.count }})</b></p>
        {% if request.resolver_match.url_name == 'comment_update' %}
            {% for comment in comments %}
                {% if comment.pk == comment_updated.pk and isupdate == 0 %}
                    <form action="{% url 'articles:comment_update' article.pk comment.pk %}" method="POST"> 
                        {% csrf_token %} 
                        댓글 {{ forloop.revcounter }} :{{ comment_form_update }}
                        <input type="submit" value="댓글수정" class='btn btn-primary'>
                    </form>
                {% else %}
                    <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST"> 
                        {% csrf_token %} 
                        댓글 {{ forloop.revcounter }} :{{ comment.content }}
                        <a href="{% url 'articles:comment_update' article.pk comment.pk %}" class='btn btn-primary' >댓글 수정</a>
                        <input type="submit" value="댓글삭제" class='btn btn-primary'>
                    </form>
                {% endif %}
            {% empty %}
                <p><b> 댓글이 없어유 ㅠ</b></p>
            {% endfor %}
        {% else %}
            {% for comment in comments %}
                <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST"> 
                    {% csrf_token %}
                    댓글 {{ forloop.revcounter }} : {{ comment.content }}
                    작성자 : {{ comment.user }}
                    {% if comment.user == request.user %}
                        <a href="{% url 'articles:comment_update' article.pk comment.pk %}">댓글 수정</a>
                        <input type="submit" value="댓글삭제" class='btn btn-primary'>
                    {% endif %}
                </form>
            {% empty %}
                <p><b> 댓글이 없어유 ㅠ</b></p>
            {% endfor %}
        {% endif %}
    {% if user.is_authenticated %}
        <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="댓글 작성" class='btn btn-primary'>
        </form>
    {% else %}
        <a href="{% url 'accounts:login' %}">댓글을 입력하려면 로그인해주세요.</a>
    {% endif %}
    {% if article.user_id == request.user.pk %}
        <a href="{% url 'articles:update' article.pk %}">[글 수정]</a>
    {% endif %}
{% endblock %}