{% extends 'articles/base.html' %}

{% block body %}
    <h1 class='text-center'>INDEX</h1>
    <p><b>{{ request.user.username }} 님의 방문횟수 : {{ visits_num }}{% if visits_num < 2 %} time {% else %} times {% endif %}</b></p>
    {% for article in articles %}
        {% include "articles/_article.html" %}
    {% endfor %}
    {% if user.is_authenticated %}
        <a href="{% url 'articles:create' %}">[글 작성]</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">[글 작성을 하기 위해선 로그인이 필요합니다]</a>
    {% endif %}
{% endblock %}