#font1{
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
}

#font2{
    font-size: 20px;
    font-family: 'Neucha', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
}